[Unit]
Description=Secure server providing multi-user, multi-client access to Taskwarrior data
Requires=network.targetAfter=network.target
Documentation=http://taskwarrior.org/docs/#taskd

[Service]
ExecStart=/usr/local/bin/taskd server --data $TASKDDATA
Type=simpleUser=$TASKD
USERGroup=$TASKD
GROUPWorkingDirectory=$TASKDDATA
PrivateTmp=true
InaccessibleDirectories=/home /root /boot /opt /mnt /media
ReadOnlyDirectories=/etc /usr

[Install]
WantedBy=multi-user.target